* {
  /* max-width: 1300px; */
  margin: auto;
}

/* App.css */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-background);
  padding: 2rem;
}

.app-header {
  width: '100%';
  padding: '1rem 0';
  background-color: 'var(--color-primary)';
  color: '#fff';
  text-align: 'center';
  box-shadow: '0 2px 4px rgba(0,0,0,0.1)';
}

.app-footer {
  width: '100%';
  padding: '1rem 0';
  background-color: 'red';
  text-align: 'center';
  box-shadow: '0 -2px 4px rgba(0,0,0,0.05)';
}
